@using (Html.BeginForm())
{
    <p>        
        Enter First Number :  <br />
        @Html.TextBox("txtnum1");
        </p> <br/>
    <p>    
        Enter Second Number : <br />
        @Html.TextBox("txtnum2");</p><br/>
    <p>    <input type  = "submit" name=" submitbtn" value=" Add" />    </p>
}
<p>
    @ViewBag.data
</p>
